<h1>Bienvenido</h1>
<h2>Hermann Heyer</h2>
<%= form_tag  :action => 'form' do %>
<p>Nombre :
	<%= text_field_tag 'nombre_usuario', @nombre %></p>
	<%= submit_tag 'aceptar' %>
	<% @nombres.each do |n| %>
	<p><%=n.nombre%></p>
	<%end%>
	<% end %>
