<!DOCTYPE html>
<html>
<head>
  <title>Mysoft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h3>MySoftware</h3>
</head>
<body>
<img src="" >
<%= yield %>

</body>
</html>
